<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Crisis Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.js"></script>

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/loader-style.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">

    <link rel="stylesheet" href="/assets/js/button/ladda/ladda.min.css">

    <link href="/assets/js/footable/css/footable.core.css?v=2-0-1" rel="stylesheet" type="text/css" />
    <link href="/assets/js/footable/css/footable.standalone.css" rel="stylesheet" type="text/css" />
    <link href="/assets/js/footable/css/footable-demos.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/assets/js/dataTable/lib/jquery.dataTables/css/DT_bootstrap.css" />
    <link rel="stylesheet" href="/assets/js/dataTable/css/datatables.responsive.css" />

    <link rel="stylesheet" href="/assets/css/hazeMap.css">

    <script>
        $(document).ready(function(){
            $.ajax({
                type: "POST",
                url: "/get_cases/",
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data, status, xhttp) {
                    console.log("sumitted successfully");
                    $.each(data, function (idx, acase) {
                        console.log(acase.pk);
                        {#                    console.log(acase.fields.longitude)#}
                    });
                },
                error: function (err) {
                    console.log(err)
                },
                dataType: "json",
                async: true
            });
            $.ajaxSetup({ cache: false });

            $.ajax({
                type: "POST",
                url: "/get_cases/",
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data, status, xhttp) {
                    console.log("sumitted successfully");
                    $.each(data, function (index) {
                            console.log(data[index].pk);
                            var id = data[index].pk;
                            var lat = parseFloat(data[index].fields.latitude);
                            var lon = parseFloat(data[index].fields.longitude);
                            var cat = data[index].fields.category;
                            var desc = data[index].fields.detail;
                            var stat = data[index].fields.status;
                            var place_name = data[index].fields.place_name;

                            var counter = $('#cases').children('tr').length;
                            if (stat === 0) {
                                stat = '<input value="Pending" type="button" class ="status-metro status-suspended statusnow" id="' + id + '"></input>';
                            }
                            else if (stat === 1) {
                                stat = '<input value="Resolving" type="button" class ="status-metro status-disabled statusnow" id="' + id + '"></input>';
                            }
                            else if (stat === 2) {
                                stat = '<input value="Closed" type="button" class ="status-metro status-active statusnow" id="' + id + '" disabled></input>';
                            }
                            counter = counter + 1;
                            if (cat === 0) {
                                $('#cases').append("<tr class='fire_cases'><td>" + counter + "</td>" + "<td>" + lat + "</td>" + "<td>" + lon + "</td>" + "<td>" + changeCategory(cat) + "</td>" + "<td>" + place_name + "</td>" + "<td>" + stat + "</td>" + "<td>" + desc + "</td>" + "</tr>");
                            }
                            else if (cat === 1) {
                                $('#cases').append("<tr class='transportation_cases'><td>" + counter + "</td>" + "<td>" + lat + "</td>" + "<td>" + lon + "</td>" + "<td>" + changeCategory(cat) + "</td>" + "<td>" + place_name + "</td>" + "<td>" + stat + "</td>" + "<td>" + desc + "</td>" + "</tr>");
                            }
                            else if (cat === 2) {
                                $('#cases').append("<tr class='terrorism_cases'><td>" + counter + "</td>" + "<td>" + lat + "</td>" + "<td>" + lon + "</td>" + "<td>" + changeCategory(cat) + "</td>" + "<td>" + place_name + "</td>" + "<td>" + stat + "</td>" + "<td>" + desc + "</td>" + "</tr>");
                            }
                            else if (cat === 3) {
                                $('#cases').append("<tr class='gasLeak_cases'><td>" + counter + "</td>" + "<td>" + lat + "</td>" + "<td>" + lon + "</td>" + "<td>" + changeCategory(cat) + "</td>" + "<td>" + place_name + "</td>" + "<td>" + stat + "</td>" + "<td>" + desc + "</td>" + "</tr>");
                            }

                            var myLatLng = {lat: lat, lng: lon};
                            var marker = new google.maps.Marker({
                                position: myLatLng,
                                label: labels[0],
                                title: "Hello World!"
                            });
                            marker.setMap(map_google);
                            if(cat === 0){
                                var marker_object = {
                                    marker: marker,
                                    category: 0
                                };
                            }
                            else if(cat === 1){
                                var marker_object = {
                                    marker: marker,
                                    category: 1
                                };
                            }
                            else if(cat === 2){
                                var marker_object = {
                                    marker: marker,
                                    category: 2
                                };
                            }
                            else if(cat === 3){
                                var marker_object = {
                                    marker: marker,
                                    category: 3
                                };
                            }
                            marker_array.push(marker_object);
                        });
                    },
                    error: function (err) {
                        console.log(err)
                    }

                    ,
                    dataType: "json",
                        async
                    :
                    true
                });
            var east_psi;
            var west_psi;
            var south_psi;
            var north_psi;
            var center_psi;

            var east_pos = {lat: 1.336091, lng: 103.94371};

            var west_pos = {lat: 1.338837, lng: 103.697891};

            var north_pos = {lat: 1.404736, lng: 103.815308};

            var south_pos = {lat: 1.268817, lng: 103.83728};

            var centre_pos = {lat: 1.327854, lng: 103.823547};

            var east_marker = new google.maps.Marker({
                position: east_pos,
                map: map_google,
                title: "Halo",
                optimized: false
            });

            console.log("halo");

            var west_marker = new google.maps.Marker({
                position: west_pos,
                map: map_google,
                title: "Halo",
                optimized: false
            });

             var north_marker = new google.maps.Marker({
                position: north_pos,
                map: map_google,
                title: "Halo",
                optimized: false
            });

             var south_marker = new google.maps.Marker({
                position: south_pos,
                map: map_google,
                title: "Halo",
                optimized: false
            });

            var centre_marker = new google.maps.Marker({
                position: centre_pos,
                map: map_google,
                title: "Halo",
                optimized: false
            });

            east_marker.setVisible(false);
            west_marker.setVisible(false);
            north_marker.setVisible(false);
            south_marker.setVisible(false);
            centre_marker.setVisible(false);

            $.getJSON('/haze/',function(data){
                east_psi = data.east;
                west_psi = data.west;
                south_psi = data.south;
                north_psi = data.north;
                center_psi = data.center;

                var contentString = "<div style='background-color: white, opacity: 1'><font color='" + hazeConverter(east_psi) + "'>East<br /><center>" + east_psi + "</center></font></div>";
                window.east_infoWindow = new google.maps.InfoWindow({
                    content: contentString
                });

                var contentString = "<div style='background-color: white, opacity: 1'><font color='" + hazeConverter(west_psi) + "'>West<br /><center>" + west_psi + "</center></font></div>";
                window.west_infoWindow = new google.maps.InfoWindow({
                    content: contentString
                });

                var contentString = "<div style='background-color: white, opacity: 1'><font color='" + hazeConverter(north_psi) + "'>North<br /><center>" + north_psi + "</center></font></div>";
                window.north_infoWindow = new google.maps.InfoWindow({
                    content: contentString
                });


                var contentString = "<div style='background-color: white, opacity: 1'><font color='" + hazeConverter(south_psi) + "'>South<br /><center>" + south_psi + "</center></font></div>";
                 window.south_infoWindow = new google.maps.InfoWindow({
                    content: contentString
                });

                var contentString = "<div style='background-color: white, opacity: 1'><font color='" + hazeConverter(center_psi) + "'>Center<br /><center>" + center_psi + "</center></div>";
                 window.centre_infoWindow = new google.maps.InfoWindow({
                    content: contentString
                });
            });

            var d = new Date();
            var day_now = d.getDay();
            var hour_now = d.getHours();
            var minute_now = d.getMinutes();
            var day_now = convertToDay(day_now);
            var am_pm = hour_now <= 11 ? "AM" : "PM";
            $('.temperature').append("<b>" + day_now + "</b>, " + hour_now + ":" + minute_now + " " + am_pm);

            $.getJSON("http://api.openweathermap.org/data/2.5/forecast?id=1880252&APPID=9cf15d7fd4d3917e79f7c0f3e386f7af",function(data){
                var weather_convert = {
                    "01d" : "wi-day-sunny",
                    "01n" : "wi-night-clear",
                    "02d" : "wi-day-cloudy",
                    "02n" : "wi-night-cloudy",
                    "03d" : "wi-day-cloudy",
                    "03n" : "wi-night-cloudy",
                    "04d" : "wi-day-cloudy",
                    "04n" : "wi-night-cloudy",
                    "09d" : "wi-day-rain",
                    "09n" : "wi-night-rain",
                    "10d" : "wi-day-rain",
                    "10n" : "wi-night-rain",
                    "11d" : "wi-day-thunderstorm",
                    "11n" : "wi-night-thunderstorm",
                    "13d" : "wi-day-snow",
                    "13n" : "wi-night-snow",
                    "50d" : "wi-day-fog",
                    "50n" : "wi-night-fog"
                };
                weather_array = [];
                weather_array.push(data.list[0].weather[0].icon);
                weather_array.push(data.list[8].weather[0].icon);
                weather_array.push(data.list[16].weather[0].icon);
                weather_array.push(data.list[24].weather[0].icon);

                var temp_now = data.list[0].main.temp - 273;

                var temp_array = [];

                temp_array.push(kelvinToFahrenheit(data.list[0].main.temp));
                temp_array.push(kelvinToFahrenheit(data.list[8].main.temp));
                temp_array.push(kelvinToFahrenheit(data.list[16].main.temp));
                temp_array.push(kelvinToFahrenheit(data.list[24].main.temp));

                var wind_speed_array = [];

                wind_speed_array.push(data.list[0].wind.speed);
                wind_speed_array.push(data.list[8].wind.speed);
                wind_speed_array.push(data.list[16].wind.speed);
                wind_speed_array.push(data.list[24].wind.speed);

                var day_array = [];

                var day_now = d.getDay();

                day_array.push(convertToDay(day_now));
                day_array.push(convertToDay((day_now+1) % 7));
                day_array.push(convertToDay((day_now+2) % 7));
                day_array.push(convertToDay((day_now+3) % 7));

                $('#dashboard_weather_icon').append("<i class='" + weather_convert[weather_array[0]] + "'></i>");
                $('#dashboard_weather_text').append("<h2>Singapore<br><i>" + weather_convert[weather_array[0]].slice(3) + "</i></h2>");
                $('#temp_now').append("<h3><i class='wi-thermometer'></i>" + parseInt(temp_now) + "<i class='wi-celcius'</i></h3>");

                $('#weather1').append("<h2>" + day_array[0].slice(0,3) + "</h2><h3>" + parseInt(temp_array[0]) + "<span><br /><i class='wi-fahrenheit'></i></span></h3><h4><i class='" + weather_convert[weather_array[0]] + "'></i></h4><h5>" + wind_speed_array[0] + "<br /><i>m/s</i></h5>");
                $('#weather2').append("<h2>" + day_array[1].slice(0,3) + "</h2><h3>" + parseInt(temp_array[1]) + "<span><br /><i class='wi-fahrenheit'></i></span></h3><h4><i class='" + weather_convert[weather_array[1]] + "'></i></h4><h5>" + wind_speed_array[1] + "<br /><i>m/s</i></h5>");
                $('#weather3').append("<h2>" + day_array[2].slice(0,3) + "</h2><h3>" + parseInt(temp_array[2]) + "<span><br /><i class='wi-fahrenheit'></i></span></h3><h4><i class='" + weather_convert[weather_array[2]] + "'></i></h4><h5>" + wind_speed_array[2] + "<br /><i>m/s</i></h5>");
                $('#weather4').append("<h2>" + day_array[3].slice(0,3) + "</h2><h3>" + parseInt(temp_array[3]) + "<span><br /><i class='wi-fahrenheit'></i></span></h3><h4><i class='" + weather_convert[weather_array[3]] + "'></i></h4><h5>" + wind_speed_array[3] + "<br /><i>m/s</i></h5>");
            })

            var marker_array = [];
            var labels = "ABCD";
            var fire_checked = true;
            var ambulance_checked = true;
            var terrorism_checked = true;
            var transportation_checked = true;
            var gasLeak_checked = true;

            $.ajax({
                type: "POST",
                url: "/summary/",
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data) {
                    console.log("submitted successfully")
                    var active = data.active;
                    var active_node = document.createElement("span");
                    var textnode = document.createTextNode(active);
                    active_node.appendChild(textnode);
                    document.getElementById("getting-started").appendChild(active_node);

                    var resolved = data.resolved;
                    var Closed_node = document.createElement("span");
                    var textnode = document.createTextNode(resolved);
                    Closed_node.appendChild(textnode);
                    document.getElementById("Closed").appendChild(Closed_node);

                    var total = data.total;
                    var total_node = document.createElement("span");
                    var textnode = document.createTextNode(total);
                    total_node.appendChild(textnode);
                    document.getElementById("total").appendChild(total_node);

                    var crisislevel = data.crisislevel;
                    var crisis_node = document.createElement("span");
                    var textnode = document.createTextNode(crisislevel);
                    crisis_node.appendChild(textnode);
                    document.getElementById("crisis").appendChild(crisis_node);
                },
                error: function (err) {
                    console.log(err)
                },
                dataType: "json",
                async: true
            });

            $(document).on("change","#fire", function(){
                if(this.checked === true && !fire_checked){
                    fire_checked = true;
                    $.ajax({
                        type: "POST",
                        url: "/get_cases/",
                        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data, status, xhttp) {
                        $.each(data, function(index){
                            var id = data[index].pk;
                            var lat = parseFloat(data[index].fields.latitude);
                            var lon = parseFloat(data[index].fields.longitude);
                            var cat = data[index].fields.category;
                            var desc = data[index].fields.detail;
                            var stat = data[index].fields.status;
                            var place_name = data[index].fields.place_name;

                            var counter = $('#cases').children('tr').length;
                            if(cat === 0){
                                if(stat === 0){
                                    stat = '<input value="Pending" type="button" class ="status-metro status-suspended statusnow" id="' + id +'"></input>';
                                }
                                else
                                if(stat === 1){
                                    stat = '<input value="Resolving" type="button" class ="status-metro status-disabled statusnow" id="' + id +'"></input>';
                                }
                                else
                                if(stat === 2){
                                    stat = '<input value="Closed" type="button" class ="status-metro status-active statusnow" id="' + id +'" disabled></input>';
                                }
                                counter = counter + 1;
                                $('#cases').append("<tr class='fire_cases'><td>" + counter + "</td>" + "<td>" + lat + "</td>" + "<td>" + lon + "</td>" + "<td>" + changeCategory(cat) + "</td>" + "<td>" + place_name + "</td>" + "<td>" + stat + "</td>" + "<td>" + desc + "</td>" + "</tr>");

                                var myLatLng = {lat: lat, lng: lon};
                                var marker = new google.maps.Marker({
                                    position: myLatLng,
                                    label: labels[0],
                                    title:"Hello World!"
                                });
                                marker.setMap(map_google);
                                var marker_object = {
                                    marker : marker,
                                    category: 0
                                };
                                marker_array.push(marker_object);
                            }
                        })
                    }
                    })
                }
                else if(this.checked === false && fire_checked){
                    fire_checked = false;
                    $('.fire_cases').remove();
                    for(var i=0; i<marker_array.length; i++){
                        if(marker_array[i].category === 1){
                            marker_array[i].marker.setMap(null);
                        }
                    }
                }
             })
             $(document).on("change","#transportation", function(){
                if(this.checked === true && !transportation_checked){
                    transportation_checked = true
                    $.ajax({
                type: "POST",
                url: "/get_cases/",
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data, status, xhttp) {
                        $.each(data, function(index){
                            var id = data[index].pk;
                            var lat = parseFloat(data[index].fields.latitude);
                            var lon = parseFloat(data[index].fields.longitude);
                            var cat = data[index].fields.category;
                            var desc = data[index].fields.detail;
                            var stat = data[index].fields.status;
                            var place_name = data[index].fields.place_name;

                            var counter = $('#cases').children('tr').length;
                            if(cat === 1){
                                if(stat === 0){
                                    stat = '<input value="Pending" type="button" class ="status-metro status-suspended statusnow" id="' + id +'"></input>';
                                }
                                else
                                if(stat === 1){
                                    stat = '<input value="Resolving" type="button" class ="status-metro status-disabled statusnow" id="' + id +'"></input>';
                                }
                                else
                                if(stat === 2){
                                    stat = '<input value="Closed" type="button" class ="status-metro status-active statusnow" id="' + id +'" disabled></input>';
                                }
                                counter = counter + 1;
                                $('#cases').append("<tr class='transportation_cases'><td>" + counter + "</td>" + "<td>" + lat + "</td>" + "<td>" + lon + "</td>" + "<td>" + changeCategory(cat) + "</td>" + "<td>" + place_name + "</td>" + "<td>" + stat + "</td>" + "<td>" + desc + "</td>" + "</tr>");
                                var myLatLng = {lat: lat, lng: lon};
                                var marker = new google.maps.Marker({
                                    position: myLatLng,
                                    label: labels[1],
                                    title:"Hello World!"
                                });
                                marker.setMap(map_google);
                                var marker_object = {
                                    marker : marker,
                                    category: 1
                                };
                                marker_array.push(marker_object);
                            }
                        })
                    }
                    })
                }
                else if(this.checked === false && transportation_checked){
                    transportation_checked = false;
                    $('.transportation_cases').remove();
                    for(var i=0; i<marker_array.length; i++){
                        if(marker_array[i].category === 2){
                            marker_array[i].marker.setMap(null);
                        }
                    }
                }
             })
            $(document).on("change","#terrorism", function(){
                if(this.checked === true && !terrorism_checked){
                    terrorism_checked = true
                    $.ajax({
                type: "POST",
                url: "/get_cases/",
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data, status, xhttp) {
                        $.each(data, function(index){
                            var id = data[index].pk;
                            var lat = parseFloat(data[index].fields.latitude);
                            var lon = parseFloat(data[index].fields.longitude);
                            var cat = data[index].fields.category;
                            var desc = data[index].fields.detail;
                            var stat = data[index].fields.status;
                            var place_name = data[index].fields.place_name;

                            var counter = $('#cases').children('tr').length;
                            if(cat === 2){
                                if(stat === 0){
                                    stat = '<input value="Pending" type="button" class ="status-metro status-suspended statusnow" id="' + id +'"></input>';
                                }
                                else
                                if(stat === 1){
                                    stat = '<input value="Resolving" type="button" class ="status-metro status-disabled statusnow" id="' + id +'"></input>';
                                }
                                else
                                if(stat === 2){
                                    stat = '<input value="Closed" type="button" class ="status-metro status-active statusnow" id="' + id +'" disabled></input>';
                                }
                                counter = counter + 1;
                                $('#cases').append("<tr class='terrorism_cases'><td>" + counter + "</td>" + "<td>" + lat + "</td>" + "<td>" + lon + "</td>" + "<td>" + changeCategory(cat) + "</td>" + "<td>" + place_name + "</td>" + "<td>" + stat + "</td>" + "<td>" + desc + "</td>" + "</tr>");

                                var myLatLng = {lat: lat, lng: lon};
                                var marker = new google.maps.Marker({
                                    position: myLatLng,
                                    label: labels[2],
                                    title:"Hello World!"
                                });
                                marker.setMap(map_google);
                                var marker_object = {
                                    marker : marker,
                                    category: 2
                                };
                                marker_array.push(marker_object);
                            }
                        })
                    }
                    })
                }
                else if(this.checked === false && terrorism_checked){
                    terrorism_checked = false;
                    $('.terrorism_cases').remove();
                    for(var i=0; i<marker_array.length; i++){
                        if(marker_array[i].category === 3){
                            marker_array[i].marker.setMap(null);
                        }
                    }
                }
             })

            $(document).on("change","#gasLeak", function(){
                if(this.checked === true && !gasLeak_checked){
                    gasLeak_checked = true
                    $.ajax({
                type: "POST",
                url: "/get_cases/",
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data, status, xhttp) {
                        $.each(data, function(index){
                            var id = data[index].pk;
                            var lat = parseFloat(data[index].fields.latitude);
                            var lon = parseFloat(data[index].fields.longitude);
                            var cat = data[index].fields.category;
                            var desc = data[index].fields.detail;
                            var stat = data[index].fields.status;
                            var place_name = data[index].fields.place_name;

                            var counter = $('#cases').children('tr').length;
                            if(cat === 3){
                                if(stat === 0){
                                    stat = '<input value="Pending" type="button" class ="status-metro status-suspended statusnow" id="' + id +'"></input>';
                                }
                                else
                                if(stat === 1){
                                    stat = '<input value="Resolving" type="button" class ="status-metro status-disabled statusnow" id="' + id +'"></input>';
                                }
                                else
                                if(stat === 2){
                                    stat = '<input value="Closed" type="button" class ="status-metro status-active statusnow" id="' + id +'" disabled></input>';
                                }
                                counter = counter + 1;
                                $('#cases').append("<tr class='gasLeak_cases'><td>" + counter + "</td>" + "<td>" + lat + "</td>" + "<td>" + lon + "</td>" + "<td>" + changeCategory(cat) + "</td>" + "<td>" + place_name + "</td>" +  "<td>" + stat + "</td>" + "<td>" + desc + "</td>" + "</tr>");
                                var myLatLng = {lat: lat, lng: lon};
                                var marker = new google.maps.Marker({
                                    position: myLatLng,
                                    label: labels[3],
                                    title:"Hello World!"
                                });
                                marker.setMap(map_google);
                                var marker_object = {
                                    marker : marker,
                                    category: 3
                                };
                                marker_array.push(marker_object);
                            }
                        })
                    }
                    })
                }
                else if(this.checked === false && gasLeak_checked){
                    gasLeak_checked = false;
                    $('.gasLeak_cases').remove();
                    for(var i=0; i<marker_array.length; i++){
                        if(marker_array[i].category === 4){
                            marker_array[i].marker.setMap(null);
                        }
                    }
                }
             })


            $(document).on('click', '#haze', function(){
                /*var styledMapType = new google.maps.StyledMapType(
                    [
                        {
                            featureType: "all",
                            elementType: "all",
                            stylers:[
                                { "invert_lightness" : true}
                            ]
                        }
                    ],
                    {name : 'Styled Map'});
                */
                map_google.setZoom(12);
                //map_google.mapTypes.set('styled_map', styledMapType);
                //map_google.setMapTypeId('styled_map');

                east_infoWindow.open(map_google,east_marker);
                west_infoWindow.open(map_google, west_marker);
                north_infoWindow.open(map_google,north_marker);
                south_infoWindow.open(map_google,south_marker);
                centre_infoWindow.open(map_google,centre_marker);

{#                $('#google_map_base').append("<div class='overlay'></div>");#}
            })

            $(document).on('click', '#incident', function(){
                east_marker.setMap(null);
                west_marker.setMap(null);
                north_marker.setMap(null);
                south_marker.setMap(null);
                centre_marker.setMap(null);

                $('.overlay').remove();
                for(var i=0; i<marker_array.length; i++){
                    marker_array[i].marker.setMap(map_google);
                }
            })
        });
    </script>
    <script>
        function hazeConverter(psi){
            if(psi > 300){
                return "red";
            }
            else if(psi > 200){
                return "orange";
            }
            else if(psi > 100){
                return "yellow";
            }
            else if(psi > 50) {
                return "blue";
            }
            else{
                return "green";
            }
        }
        function convertToDay(today){
            if(today === 0){
                return "Sunday";
            }
            else
            if(today === 1){
                return "Monday";
            }
            else
            if(today === 2){
                return "Tuesday";
            }
            else
            if(today === 3){
                return "Wednesday";
            }
            else
            if(today === 4){
                return "Thursday";
            }
            else
            if(today === 5){
                return "Friday";
            }
            else
            if(today === 6){
                return "Saturday";
            }
        }

        function kelvinToFahrenheit(temp){
            return (temp -273) * 9 / 5;
        }
        function changeCategory(category){
            if(category === 0){
                return "Fire";
            }
            else if(category === 1){
                return "Traffic Accident";
            }
            else if(category === 2){
                return "Terrorists Activity";
            }
            else if(category === 3){
                return "Gas Leak";
            }
        }
    </script>

    <script>

    </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/assets/ico/minus.png">
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<!-- TOP NAVBAR -->
<nav role="navigation" class="navbar navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle"
                    type="button">
                <span class="entypo-menu"></span>
            </button>
            <div id="logo-mobile" class="visible-xs">
                <h1>CMS
                    <span>v1.0</span>
                </h1>
            </div>

        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

            </ul>
            <div id="nt-title-container" class="navbar-left running-text visible-lg">
                <ul class="date-top">
                    <li class="entypo-calendar" style="margin-right:5px"></li>
                    <li id="Date"></li>
                </ul>

                <ul id="digital-clock" class="digital">
                    <li class="entypo-clock" style="margin-right:5px"></li>
                    <li class="hour"></li>
                    <li>:</li>
                    <li class="min"></li>
                    <li>:</li>
                    <li class="sec"></li>
                    <li class="meridiem"></li>
                </ul>

            </div>

            <ul style="margin-right:0;" class="nav navbar-nav navbar-right">


                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        Hi, {{ user.username }} <b class="caret"></b>
                    </a>
                    <ul style="margin-top:14px;" role="menu" class="dropdown-setting dropdown-menu">
                        <li>
                            <a href="#">
                                <span class="entypo-vcard"></span>&#160;&#160;Account Setting</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="entypo-lifebuoy"></span>&#160;&#160;Help</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout/">
                                <span class="entypo-logout"></span>&#160;&#160;Logout</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Change Theme</a>
                    <ul role="menu" class="dropdown-setting dropdown-menu">

                        <li class="theme-bg">
                            <div id="button-bg"></div>
                            <div id="button-bg2"></div>
                            <div id="button-bg3"></div>
                            <div id="button-bg5"></div>
                            <div id="button-bg6"></div>
                            <div id="button-bg7"></div>
                            <div id="button-bg8"></div>
                            <div id="button-bg9"></div>
                            <div id="button-bg10"></div>
                            <div id="button-bg11"></div>
                            <div id="button-bg12"></div>
                            <div id="button-bg13"></div>
                        </li>
                    </ul>
                </li>


            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- /END OF TOP NAVBAR -->

<!-- SIDE MENU -->
<div id="skin-select">
    <div id="logo">
        <h1>CMS
            <span>v1.0</span>
        </h1>
    </div>

    <a id="toggle">
        <span class="entypo-menu"></span>
    </a>
    <div class="dark">
{#        <form action="#">#}
{#                <span>#}
{#                    <input type="text" name="search" value="" class="search rounded id_search"#}
{#                           placeholder="Search Menu..." autofocus/>#}
{#                </span>#}
{#        </form>#}
    </div>

    <div class="search-hover">
        <form id="demo-2">
            <input type="search" placeholder="Search Menu..." class="id_search">
        </form>
    </div>


    <div class="skin-part">
        <div id="tree-wrap">
            <div class="side-bar">
                <ul class="topnav menu-left-nest">
                    <li>
                        <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                            <span class="main-menu_item"></span>
                            <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                        </a>
                    </li>

                    <li>
                        <a class="tooltip-tip ajax-load" href="/" title="Dashboard">
                            <i class="icon-window"></i>
                            <span>Dashboard</span>

                        </a>
                    </li>

                    <li>
                        <a class="tooltip-tip2 ajax-load" href="/new_case/" title="New Incident">
                            <i class="icon-document"></i><span>New Incident</span></a>
                    </li>

                    <li>
                        <a class="tooltip-tip " href="/logout/" title="Logout">
                            <i class="entypo-logout"></i>
                            <span>Login Out</span>
                        </a>
                    </li>

                    <li>
                        <a class="tootltip-tip2 ajax-load" href="/register/" title="New User">
                            <i class="icon-document"></i><span>New User</span></a>s
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>
<!-- END OF SIDE MENU -->


<!--  PAPER WRAP -->
<div class="wrap-fluid">
    <div class="container-fluid paper-wrap bevel tlbr">

        <!-- CONTENT -->
        <!--TITLE -->
        <div class="row">
            <div id="paper-top">
{#                <div class="col-sm-3">#}
{#                    <h2 class="tittle-content-header">#}
{#                        <i class="icon-media-record"></i>#}
{#                        <span>Map Overview#}
{#                            </span>#}
{#                    </h2>#}
{##}
{#                </div>#}

                <div class="col-sm-9">
                    <div class="devider-vertical visible-lg"></div>

                    <div class="tittle-middle-header">
                        <!-- BREADCRUMB -->
                        <ul id="breadcrumb">
                            <li>
                                <span class="entypo-home"></span>
                            </li>
                            <li><i class="fa fa-lg fa-angle-right"></i>
                            </li>
                            <li><a href="#map_overview.html" title="Sample page 1">Map Overview</a>
                            </li>
                        </ul>
                        <!-- END OF BREADCRUMB -->
                    </div>

                </div>

            </div>
        </div>
        <!--/ TITLE -->


        <div class="content-wrap">


            <div class="row">


                <div class="col-lg-12">
                    <!-- BLANK PAGE-->

                    <div class="nest" id="Blank_PageClose">
                        <div class="title-alt">
                            <h6>
                                Mapview Of Incidents</h6>
                            <div class="titleClose">

                            </div>
                            <div class="titleToggle">

                            </div>

                        </div>

                        <div class="nest">
                            <div class="body-nest">
                                <div id="google_map_base" style="width: 100%; height:630px; "></div>
                                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAO8DAewXZ2oJDavX6qFxLJCBhkWYpwcY&callback=initMap" async defer></script>
                                <script>
                                    var map_google;
                                    function initMap() {
                                        map_google = new google.maps.Map(document.getElementById('google_map_base'), {
                                            center: {lat: 1.290270, lng: 103.851959},
                                            mapTypeControlOptions: {
                                                mapTypeIds : ['roadmap', 'satellite', 'hybrid', 'terrain', 'styled_map']
                                            },
                                            zoom: 13
                                        });
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF BLANK PAGE -->


            </div>

            <div style="margin-top: 20px;"></div>
            <div class="row">
                <center>
                 <form>
                    <input type="button" id="incident" class="btn btn-primary" value="Incident"></input>
                    <input type="button" id="haze" class="btn btn-success" value="Haze"></input>
                </form>
                <center>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-sm-3">
                    <div class="profit" id="profitClose">
                        <div class="headline ">
                            <h3>
                                    <span>
                                        <i class="entypo-attention"></i>&#160;&#160;Active Cases</span>
                            </h3>
                            <div class="titleClose">
                            </div>
                        </div>

                        <div class="value">
                                <span class="pull-left"><i class="entypo-attention"></i>
                                </span>
                            <div id="getting-started">

                            </div>

                        </div>

                        <div class="progress-tinny">
                            <div style="width: 50%" class="bar"></div>
                        </div>
                        <div class="profit-line">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="member" >
                        <div class="headline ">
                            <h3>
                                    <span>
                                        <i class="entypo-check"></i>
                                        &#160;&#160;Resolve Cases
                                    </span>
                            </h3>
                            <div class="titleClose">

                            </div>
                        </div>
                        <div class="value">
                            <div id="Closed">

                            </div>
                        </div>
                        <div class="progress-tinny">
                            <div style="width: 50%" class="bar"></div>
                        </div>
                        <div class="profit-line">

                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="revenue" id="revenueClose">
                        <div class="headline ">

                            <h3>
                                <span>
                                    <i class="entypo-traffic-cone"></i>&#160;&#160;Total</span>
                            </h3>

                            <div class="titleClose">

                            </div>
                        </div>
                        <div class="value" id ="total">
                            <canvas id="canvas4" width="70" height="70"></canvas>
                            <i class="pull-right"></i>

                        </div>


                        <div class="progress-tinny">
                            <div style="width: 50%" class="bar"></div>
                        </div>
                        <div class="profit-line">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="order" id="orderClose">
                        <div class="headline ">
                            <h3>
                                    <span>
                                        <i class="entypo-alert"></i>&#160;&#160; Crisis level</span>
                            </h3>
                            <div class="titleClose">
                                <a href="#orderClose" class="gone">
                                </a>
                            </div>
                        </div>
                        <div class="value" id="crisis">


                        </div>

                        <div class="progress-tinny">
                            <div style="width: 10%" class="bar"></div>
                        </div>
                        <div class="profit-line">

                        </div>
                    </div>
                </div>
            </div>

            <center>
            <div class="row">
                <label class="checkbox-inline">
                    <input type="checkbox" id="fire" value="" checked>Fire</input>
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="transportation" value="" checked>Traffic Accident</input>
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="terrorism" value="" checked>Terrorists Activity</input>
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="gasLeak" value="" checked>Gas Leak</input>
                </label>
            </div>
             </center>

            <div class="row">
                <div class="col-sm-4">
                    <div class="weather-wrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="temperature">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="weather-icon" id="dashboard_weather_icon">

                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="weather-text" id="dashboard_weather_text">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="weather-text" id="temp_now">

                                </div>
                            </div>
                        </div>
                        <div class="weather-dash">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="daily-weather" id="weather1">

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="daily-weather" id="weather2">

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="daily-weather" id="weather3">

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="daily-weather" id="weather4">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">

                    <div class="nest" id="FootableClose">
                        <div class="title-alt">
                            <h6>
                                Footable paginate</h6>
                            <div class="titleClose">
                                <a class="gone" href="#FootableClose">
                                    <span class="entypo-cancel"></span>
                                </a>
                            </div>
                            <div class="titleToggle">
                                <a class="nav-toggle-alt" href="#Footable">
                                    <span class="entypo-up-open"></span>
                                </a>
                            </div>

                        </div>

                        <div class="body-nest" id="Footable">

                            <p class="lead well">FooTable is a jQuery plugin that aims to make HTML tables on smaller devices look awesome - No matter how many columns of data you may have in them. And it's responsive i think this better than DataTable in some way</p>

                            <table class="table-striped footable-res footable metro-blue" data-page-size="6">
                                <thead>
                                <tr>
                                    <th>
                                        No
                                    </th>
                                    <th>
                                        Latitude
                                    </th>
                                    <th data-hide="phone,tablet">
                                        Longitude
                                    </th>
                                    <th data-hide="phone,tablet">
                                        category
                                    </th>
                                    <th data-hide="phone,tablet">
                                        Place
                                    </th>
                                    <th data-hide="phone,tablet">
                                        Status
                                    </th>
                                    <th data-hide="phone">
                                        Detail
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="cases">

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <div class="pagination pagination-centered"></div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>

                    </div>


                </div>

            </div>

            </div>
            <!-- /END OF CONTENT -->


            <!-- FOOTER -->
            <div class="footer-space"></div>
            <div id="footer">
                <div class="devider-footer-left"></div>
                <div class="time">
                    <p id="spanDate"></p>
                    <p id="clock"></p>
                </div>
                <div class="copyright">Make with Love
                    <span class="entypo-heart"></span>2014 <a href="http://gamatechno.com">Thesmile</a> All Rights
                    Reserved
                </div>
                <div class="devider-footer"></div>

            </div>
            <!-- / END OF FOOTER -->
        </div>

    </div>

</div>
<!--  END OF PAPER WRAP -->

<!-- MAIN EFFECT -->
<script type="text/javascript" src="/assets/js/preloader.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/load.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>

<!-- GAGE -->
<script type="text/javascript" src="/assets/js/toggle_close.js"></script>
<script src="/assets/js/footable/js/footable.js?v=2-0-1" type="text/javascript"></script>
<script src="/assets/js/footable/js/footable.sort.js?v=2-0-1" type="text/javascript"></script>
<script src="/assets/js/footable/js/footable.filter.js?v=2-0-1" type="text/javascript"></script>
<script src="/assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
<script src="/assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>

</body>

</html>
