<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Crisis Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.js"></script>

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/loader-style.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">

    <link rel="stylesheet" href="/assets/js/button/ladda/ladda.min.css">

    <link href="/assets/js/footable/css/footable.core.css?v=2-0-1" rel="stylesheet" type="text/css" />
    <link href="/assets/js/footable/css/footable.standalone.css" rel="stylesheet" type="text/css" />
    <link href="/assets/js/footable/css/footable-demos.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/assets/js/dataTable/lib/jquery.dataTables/css/DT_bootstrap.css" />
    <link rel="stylesheet" href="/assets/js/dataTable/css/datatables.responsive.css" />

    <link rel="stylesheet" href="/assets/css/hazeMap.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
       function drawChart1() {
        $.getJSON('/number_of_case',function(data){
            var dataFrom = google.visualization.arrayToDataTable([
            ['Region', 'Total Number of reports'],
            ['Central', data.central],
            ['North-East', data.north_east],
            ['North-West', data.north_west],
            ['South-East', data.south_east],
            ['South-West', data.south_west]
          ]);
          var options = {
            title: 'Total Number of Reports from Five Regions'
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart1'));

          chart.draw(dataFrom, options);

          var crisis = data.crisis_level;
          crisisDetermination(crisis);
        })
      }

      function drawChart2(){
         $.getJSON('/number_by_category',function(data){
            var dataFrom = google.visualization.arrayToDataTable([
            ['Category', 'Total Number of reports'],
            ['Fire', data.fire],
            ['Traffic Accident', data.traffic_accident],
            ['Terrorist Activity', data.terrorist_activity],
            ['Gas Leak', data.gas_leak]
          ]);
          var options = {
            title: 'Total Number of Reports According to Category'
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

          chart.draw(dataFrom, options);

          var crisis = data.crisis_level;
          crisisDetermination(crisis);
        })
      }

      function drawChart3(){
        $.ajax({
            url: '/number_of_injured',
            success: function(data){
                var dataFrom = google.visualization.arrayToDataTable([
                    ['Category', 'Total Number of People'],
                    ['Fire', data.fire],
                    ['Traffic Accident', data.traffic_accident],
                    ['Terrorist Activity', data.terrorist_activity],
                    ['Gas Leak', data.gas_leak]
                ]);
                var options = {
                    title: 'Total Number of Injured According to Category'
                };
                var chart = new google.visualization.PieChart(document.getElementById('piechart3'));

                chart.draw(dataFrom, options);

                var crisis = data.crisis_level;
                crisisDetermination(crisis);
            }
        })
      }

      function drawChart4(){
        $.getJSON('/number_of_dead',function(data){
            var dataFrom = google.visualization.arrayToDataTable([
            ['Category', 'Total Number of People'],
            ['Fire', data.fire],
            ['Traffic Accident', data.traffic_accident],
            ['Terrorist Activity', data.terrorist_activity],
            ['Gas Leak', data.gas_leak]
          ]);
          var options = {
            title: 'Total Number of Dead According to Category'
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart4'));

          chart.draw(dataFrom, options);

          var crisis = data.crisis_level;
        })
      }

      function crisisDetermination(crisis){
        if(crisis === 1){
            $('.crisis').remove();
            $('#crisis_level').append("<font class='crisis' color='green'>Peaceful<br>There is no danger in Singapore</font>");
        }
        else
        if(crisis === 2){
            $('.crisis').remove();
            $('#crisis_level').append("<font class='crisis' color='yellow'>Average<br>Be careful everyone!</font>");
        }
        if(crisis === 3){
            $('.crisis').remove();
            $('#crisis_level').append("<font class='crisis' color='red'>Crisis<br>Danger Danger!! Please be calm and don't leave your home</font>");
        }
      }

      function initialize(){
        $.ajaxSetup({ cache: false });
        var regions_checked = false;
        var category_checked = false;
        var injured_checked  = false;
        var dead_checked = false;
        var danger_checked = false;

        $('#regions').click(function(){
            $("#piechart2").remove();
            $("#piechart3").remove();
            $('#piechart4').remove();
            if(!regions_checked){
              $("#piechart").append('<div id="piechart1" style="width: 1500px; height: 1200px;"></div>');
              drawChart1();
              regions_checked = true;
              category_checked = false;
              injured_checked = false;
              dead_checked = false;
              console.log(danger_checked);
            }
        });
        $('#category').click(function(){
            $("#piechart1").remove();
            $("#piechart3").remove();
            $('#piechart4').remove();
            if(!category_checked){
              $("#piechart").append('<div id="piechart2" style="width: 1500px; height: 1200px;"></div>');
              drawChart2();
              category_checked = true;
              regions_checked = false;
              injured_checked = false;
              dead_checked = false;
            }
        });
        $('#injured').click(function(){
            $("#piechart1").remove();
            $("#piechart2").remove();
            $('#piechart4').remove();
            if(!injured_checked){
              $("#piechart").append('<div id="piechart3" style="width: 1500px; height: 1200px;"></div>');
              drawChart3();
              injured_checked = true;
              regions_checked = false;
              category_checked = false;
              dead_checked = false;
            }
        });
        $('#dead').click(function(){
            $("#piechart1").remove();
            $("#piechart2").remove();
            $('#piechart3').remove();
            if(!dead_checked){
              $("#piechart").append('<div id="piechart4" style="width: 1500px; height: 1200px;"></div>');
              drawChart4();
              dead_checked = true;
              injured_checked = false;
              regions_checked = false;
              category_checked = false;
            }
        });
      }

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(initialize);
    </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/assets/ico/minus.png">
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<!-- TOP NAVBAR -->
<nav role="navigation" class="navbar navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle"
                    type="button">
                <span class="entypo-menu"></span>
            </button>
            <div id="logo-mobile" class="visible-xs">
                <h1>CMS
                    <span>v1.0</span>
                </h1>
            </div>

        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

            </ul>
            <div id="nt-title-container" class="navbar-left running-text visible-lg">
                <ul class="date-top">
                    <li class="entypo-calendar" style="margin-right:5px"></li>
                    <li id="Date"></li>
                </ul>

                <ul id="digital-clock" class="digital">
                    <li class="entypo-clock" style="margin-right:5px"></li>
                    <li class="hour"></li>
                    <li>:</li>
                    <li class="min"></li>
                    <li>:</li>
                    <li class="sec"></li>
                    <li class="meridiem"></li>
                </ul>

            </div>

            <ul style="margin-right:0;" class="nav navbar-nav navbar-right">


                <li>

                    <ul style="margin-top:14px;" role="menu" class="dropdown-setting dropdown-menu">
                        <li>
                            <a href="#">
                                <span class="entypo-vcard"></span>&#160;&#160;Account Setting</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="entypo-lifebuoy"></span>&#160;&#160;Help</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <span class="entypo-logout"></span>&#160;&#160;Logout</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Change Theme</a>
                    <ul role="menu" class="dropdown-setting dropdown-menu">

                        <li class="theme-bg">
                            <div id="button-bg"></div>
                            <div id="button-bg2"></div>
                            <div id="button-bg3"></div>
                            <div id="button-bg5"></div>
                            <div id="button-bg6"></div>
                            <div id="button-bg7"></div>
                            <div id="button-bg8"></div>
                            <div id="button-bg9"></div>
                            <div id="button-bg10"></div>
                            <div id="button-bg11"></div>
                            <div id="button-bg12"></div>
                            <div id="button-bg13"></div>
                        </li>
                    </ul>
                </li>


            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- /END OF TOP NAVBAR -->

<!-- SIDE MENU -->
<div id="skin-select" >
    <div id="logo">
        <h1>CMS
            <span>v1.0</span>
        </h1>
    </div>

    <a id="toggle">
        <span class="entypo-menu"></span>
    </a>
    <div class="dark">
        <form action="#">
                <span>
                    <input type="text" name="search" value="" class="search rounded id_search"
                           placeholder="Search Menu..." autofocus/>
                </span>
        </form>
    </div>

    <div class="search-hover">
        <form id="demo-2">
            <input type="search" placeholder="Search Menu..." class="id_search">
        </form>
    </div>

    <div class="skin-part">
        <div id="tree-wrap">
            <div class="side-bar">
                <ul class="topnav menu-left-nest">
                    <li>
                        <a class="tooltip-tip ajax-load" href="subscribe.html" title="Dashboard">
                            <i class="icon-window"></i>
                            <span>Subscribe</span>
                        </a>
                    </li>
                    <li>
                        <a class="tooltip-tip ajax-load" href="unsubscribe.html" title="Dashboard">
                            <i class="icon-window"></i>
                            <span>Unsubscribe</span>
                        </a>
                    </li>
                    <li>
                        <a class="tooltip-tip ajax-load" href="changeSubscription.html" title="Dashboard">
h                            <i class="icon-window"></i>
                            <span>Change Subscription</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- END OF SIDE MENU -->


<!--  PAPER WRAP -->
<div class="wrap-fluid">
    <div class="container-fluid paper-wrap bevel tlbr">

    <div class="row">
            <div id="paper-top">
                <div class="col-sm-3">
                    <h2 class="tittle-content-header">
                        <i class="icon-media-record"></i>
                        <span>Map Overview
                            </span>
                    </h2>

                </div>

                <div class="col-sm-9">
                    <div class="devider-vertical visible-lg"></div>

                    <div class="tittle-middle-header">
                        <!-- BREADCRUMB -->
                        <ul id="breadcrumb">
                            <li>
                                <span class="entypo-home"></span>
                            </li>
                            <li><i class="fa fa-lg fa-angle-right"></i>
                            </li>
                            <li><a href="#map_overview.html" title="Sample page 1">Map Overview</a>
                            </li>
                        </ul>
                        <!-- END OF BREADCRUMB -->
                    </div>

                </div>

            </div>
        </div>
        <!-- CONTENT -->
        <!--TITLE -->
        <div class = "row">
          <div>
          <center>
                 <form>
{#                    <input type="button" id="regions" class="btn btn-primary" value="Regions"></input>#}
                    <input type="button" id="category" class="btn btn-success" value="Category"></input>
                    <input type="button" id="injured" class="btn btn-info" value="Injured"></input>
                    <input type="button" id="dead" class="btn btn-danger" value="Dead"></input>
                </form>
          <center>
        </div>
        <br />
        <center>
          <div class="row">
            <div class ="col-md-9" id="piechart">

            </div>
            <div class="col-md-3" id="crisis_level">

            </div>
          </div>
        </center>
            <!-- /END OF CONTENT -->


            <!-- FOOTER -->
            <div class="footer-space"></div>
            <div id="footer">
                <div class="devider-footer-left"></div>
                <div class="time">
                    <p id="spanDate"></p>
                    <p id="clock"></p>
                </div>
                <div class="copyright">Make with Love
                    <span class="entypo-heart"></span>2014 <a href="http://gamatechno.com">Thesmile</a> All Rights
                    Reserved
                </div>
                <div class="devider-footer"></div>

            </div>
            <!-- / END OF FOOTER -->
        </div>

    </div>

</div>
<!--  END OF PAPER WRAP -->

<!-- MAIN EFFECT -->
<script type="text/javascript" src="/assets/js/preloader.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/load.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>

<!-- GAGE -->
<script type="text/javascript" src="/assets/js/toggle_close.js"></script>
<script src="/assets/js/footable/js/footable.js?v=2-0-1" type="text/javascript"></script>
<script src="/assets/js/footable/js/footable.sort.js?v=2-0-1" type="text/javascript"></script>
<script src="/assets/js/footable/js/footable.filter.js?v=2-0-1" type="text/javascript"></script>
<script src="/assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
<script src="/assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>

</body>

</html>
