{% extends 'crisis/base.html' %}
{% block title %}test{% endblock %}
{% block body %}
    <script>
        $(document).ready(function () {
            console.log("inside test.html")
            $.ajax({
                type: "GET",
                url: "/",
                data: {},
                success: function (data, status, xhttp) {
                    alert(data);
                    console.log("sumitted successfully")
                },
                error: function (err) {
                    alert(err);
                },
                dataType: "application/json",
                async: true
            });
        });

    </script>
{% endblock %}